## Python output
#### Python is a case sensitivew language

In [4]:
# if somethuing is like x(), it is supposed to be a fun
print("Hello World")

Hello World

In [5]:
print("harshit Kumar ")

harshit Kumar

In [6]:
print(7)

7

In [7]:
print(True)

True

In [8]:
print('hello',1,2,3,4,True)   # There is space in output bcz there is also a sep opton and its dafault value is space

hello 1 2 3 4 True

In [9]:
print('hello',1,2,3,4,True ,sep=':')   # There is space in output bcz there is also a sep opton and its dafault value is space

hello:1:2:3:4:True

In [11]:
print("Hello")
print("Hie")   # why the the both output is in different lines 
# as print fun has als option of end and its default value is end='/n'

Hello
Hie

In [12]:
# lets change it 
print("hello" , end='-')
print("world")

hello-world

## Data Types

In [15]:
# integer 
print(76)
print(1e20)   # ths means 10 to power 20  max that python can handle is 1.7e309

76
1e+20

In [16]:
# Decimal/Float
print(4.55)

4.55

In [17]:
# Bollean
print(True)
print(False)

True
False

In [ ]:
# Text /Strings
print("hell world ")
# python dooes not have char type data type as c or cpp

In [18]:
# Comples imaginary type
print(45+9j)

(45+9j)

In [19]:
# lists SSimilar as Array in c
print([2,3,5,7,89])

[2, 3, 5, 7, 89]

In [20]:
# tuple  Sab kuchh same as list bas square bracket ke jagah round bracket use hote hain 
print((3,3,4,65,6))

(3, 3, 4, 65, 6)

In [21]:
# Sets
# use curly braces 
print({1,2,4,6,7})

{1, 2, 4, 6, 7}

In [22]:
# Dictionary
# ye bhi cyurly braces ke andar hota hai 
# aur hamesha pair mein hota ha 
print({'name':'Harshit', 'age':20,'Subject':'Data_Science'})

{'name': 'Harshit', 'age': 20, 'Subject': 'Data_Science'}

In [24]:
# Type
type(9)
# it can dtect the type of data

int

In [25]:
type([3,5,7,9])

list

## Variables
### Varianle are just a container that can hold some values that can used in future

In [26]:
# in c and cpp it was del as int name="harshit'
# in python not need to tell it the data type it can idfentify by itself 
name="Harshit"
print(name)

Harshit

In [27]:
a=6
b=8
print(a+b)   # in python we dont need to declare the variable from starting we can create anytime

14

In [28]:
# Dynamic typing 
# we dont need to note the data type of the variabble trhat we are creating 

# static type 
 # just like in C we need to note the data type of varibakle to 


# Dynamic binding 
# in python no vcariabe has fixed data type we can change according to oure need  
# for eexample
a=6
b=7
c=(a+b)
print(c)
c=(a*b)
print(c)   # here bothj print(c) had giev n fdifferent vales 
# This thing is not possiible in the case of or cpp

13
42

In [30]:
# different methods of creatingf variables
a=1
b=2
c=3
print(a,b,c)
# or
a,b,c=1,2,3
print(a,b,c)

1 2 3
1 2 3

In [31]:
# if we want to five sam vales to different cvariable than 
a=b=c=5
print(a,b,c)

5 5 5

### snoppet means a small code of 3-4 lines. Snippet is a programming term for a small region of re-usable source code, machine code, or text.

### Comments - for single lime use # And for multiple lines use Python does not support multiple line comments but there are some jugaad .

## Keywords and identiiers

In [ ]:
# Keywords  - In python there are 32 keywords , Python iterpreter had reserved these keyword for itself to understand the code . 
# so this cant be used a variable . 
#Ex- False , None , del , if , import , for , in ,is , with , yield , not , pass , global , and , as ,
#break , continuye , from , else , lembda , or , whilw , return and so on .

# what is a compiler?
# Compilation is a process which cvonverts codes into binary language . Conversion in 1 or 0 .

# There are two types of language 
# compiled language - which complies all the code at a single time like java , cpp - Fast 
# interpreted language - which compiles the codes line by line not as a whole like python , java script  - Slow  
# scripted languages are generally inter preted language

In [ ]:
# high level code - now a days in english 
# low level code - in binary language 0 and 1

In [33]:
# identifier - jo khud ka name bna rhe variabel bna rhe claSS BNA RTHE , UNHE IDENTIFIER KEHTE HAIN 
# 1 - We cant start identifier with digits . 
# 2 - We ccan use upper case , lower case , numbers but in special case only ("_") only underscores Example
my_name="Harshit"
print(my_name)
_ = 27
print(_)
# 3 - identifier can not be keywords.

Harshit
27

## User Input

In [34]:
# there are two types of sorfweres
# 1. Static  - Calander , Clock , Vlog we cant give input we just have to take output , user cant talk.
# 2. Dynamic --user can talk . user can prvide input . We can put input in search bar , comment box etc - Youtube and most pof the 
# softweres rn -  Zomato , yt , chrome , swiggy , ola , uber . etc

input()

 HARSHIT KUMAR

'HARSHIT KUMAR '

In [35]:
# BUT FOR MORE DETAILED INFORMATION WE USED TO TYPE STRING INSIDE INPUT FUNS
input("What is your name ? ")

What is your name ?  harshit

'harshit'

In [37]:
# take 2 input from user and add it  # We got wrong number because 
a = input("Enter first number")   # default our int had been stored as str 
b = input("Enter second number")
c=a+b    # and sum of str wil be just two sting 
print(c)
# default stored data type in python is tsring because , all others data types vcan be stored as a tring but , 
# string can not be stor3ed as other data type like int . String is a universal data type .

Enter first number 25
Enter second number 25

2525

## type conversion

In [38]:
# implicit and eplicit 
print(4 + 6.5)                         # implicit 
print(type(5), type(6.5))              # python automatically understood

10.5
<class 'int'> <class 'float'>

In [42]:
# explicit
int('4')   # string to int 

str(5)   # int to strig 
float(4)  # int to float

4

In [51]:
# take two no fro user and add them 
a = input("Enter f no : ")
b = input("enter sec  number : ")
c = (int(a) + int(b))
print(c)

type(a)      # still a will be str

Enter f no :  45
enter sec  number :  55

100

str

In [53]:
# or
a = int(input("enter no. "))
b = int(input("enter no  "))
c = a + b
print(c) 

type(a)     # now its int not str

enter no.  45
enter no   55

100

int

## Literals 
### The raw vales stored in variable are called as literals

In [56]:

a = 0b1010   # Binary
print(a)
b= 100  # decimal 
print(b)
c=0o310  # octal 
print(c)
# d=0*12c   # Hexadecimal 
# print(d)

10
100
200

In [ ]:
# Float literals 
float_1 = 10.5
float_2 = 1.5e2  # 1.5 into ten to power 2
float_3 = 1.5e-3  # 1.5 into 10 to the power minus 3

In [57]:
# complex
a= 3.14j
print(a.real , a.imag)

0.0 3.14

In [ ]:
# Strngs 
str='harshit'   # single inverted comma allowed 
str="harshit"   # double inverted comma is also allowed
str="""harshit"""   # multipleinverted comma is also allowed 
unicode = u"\8379ss\342r56t4\432tv" # is we want to represnent emojis or other symbols . newly used 
raw_string = r"raw\n string "    # detal baad mein , for line chamge and similar things

In [58]:
# True = 1
# False = 0 
a= True + 1 
b = False + 1

print("a is equal to " , a)
print("b is equal to " , b )

a is equal to  2
b is equal to  1

In [59]:
# None 
a = None 
print (a)

None

In [61]:
# use of none 
a=None
b=5
c=6
print('harshit')   # no error if we let bvalue of a empty it will show erroe , if we need to use variabler a in future

harshit

# Operators in python 
#### things that we use to operate bw two operants

In [63]:
# arithmatic Operators
print(5+4)
print(6-5)
print(5*6)
print(6/5)
print(6//5)    # INTEGER OPERATOR  decimar part ko ignore karta hai int ands deta hai .
print(6%5)     # Modulus operator  gives remainder 
print(5**2)    # Power of operator   gives power

9
1
30
1.2
1
1
25

In [64]:
# Relational operators    to compare two things 
print(4<5)   # samller than
print(4>5)   # greater than 
print(4>=5)  # greater than equal to 
print(4<=5)  # smaller than equal to 
print(4==4)  # equal to 
print(4!=4)  # not equal to

True
False
False
True
True
False

In [66]:
# Logical Operators   ( AND OR NOT )
# AND dono  ke dono hone chahiye tab hi true 
# OR  koi ek bhi toh bhi true
# NOT True ko false bna dega and false ko true
print( True and False )
print( 1 and 0 )

print( True or False )
print( 1 or 0 )

print( not True )
print( not 1 )

False
0
True
1
False
False

In [67]:
# Bitwise operators    operators on binary values 
# BITWISE AND OPERATOR
print( 2 & 3 )   # ity had given 2 because binary code of 2 is 010 and 3 is 110 when we use and operator
# 2 - 010
# 3 - 110 
# and operator 
#    0 1 0  - Binary code of two so ans is two

2

In [68]:
# BITWISE OR OPERATORS
print( 2 | 3 )       # explanation same as above

3

In [69]:
# BITWISE XOR       OR + NOT 
print(2^3)     # dono same hain to 0 hoga , dono alag honge to 1 hoga 
# 2 - 010
# 3 - 110 
# or- 110
#xor- 001
#ans 1

1

In [75]:
# Assignment Operators 
a = 2
a += 2      # a = a + 2 
print(a)
a -= 2      # nhi samjha 
print(a)
a *=2
print(a)
a/=2
print(a)

4
2
4
2.0

In [ ]:
# python mein a++ ua ++a nhi hota hai

In [80]:
# Membersip Operator      Given code mein ek particular cheez hai ya nhi .
# 1 - in
# 2 - not in
# for example Delhi ke andar D hai ya nhi
print('D' in 'Delhi')
print('5' in '9472960400')
print(1 in [2,3,6,5,1,6])
                                 #IMPORTANT

True
False
True

In [91]:
# FIND THE SUM OF 3 DIGIT NUMBER ENTERED BY THE USER .
num = int(input("Enter noo of 3 digits - "))   # taking input lets chech for 234
a=num%10           # making 4 out 
b=num//10          # new no is 23
c=b%10             # making 3 out 
d=b//10            # new no is 2
e=d%10             # making 2 out 
print(a+c+e)
print(a+c+d)

Enter noo of 3 digits -  234

9
9

# If Else statement

In [96]:
# lets starert with an example 
# making loginpage 
# taking true mail  id -  kharshit4870@gmail.com
# and password - 4870

email = input(" Enter your email - ")
password = input("Enter your password - ")

if email =='kharshit4870@gmail.com' and password =='4870':
    print("Welcome")
else:
    print("Register")

 Enter your email -  kharshit4870@gmail.com
Enter your password -  4870

Welcome

In [104]:
# if there are only two con then if else 
# if there are more than 2 possibilities then elif 
email=input("Enter your email- ")
password=input("Enter your password- ")

if email=='kharshit4870@gmail.com' and password=='4870':
    print("welcome")
elif email=='kharshit4870@gmail.com' and password !='4870':
     print("Wrong password")
     password=input("Enter password again- ")
     if password=='4870':
         print("its correct now welcome")    # nested if-else
     else :
         print("phir se galat hai ")

else :
    print("sab ka sab galat hai ")

Enter your email-  kharshit4870@gmail.com
Enter your password-  658

Wrong password

Enter password again-  4870

its correct now welcome

In [138]:
# taj=ke user input foe 3 no and print the miun 
a=int(input(" Enter f no =- "))
b=int(input("Enter sec no - "))
c=int(input("Enter thrd - "))
if a<b and a<c:
    print("smallest no is " ,a )

elif a<b and a>c:
    print("smallest no is " , c)

else:
    print("snallest no is " , b)

 Enter f no =-  4
Enter sec no -  67
Enter thrd -  8

smallest no is  4

In [153]:
# menu driven calculator 
a=int(input("enter f no - "))
b= int(input("enter s no -- "))
operation=input("what to do ? ")

if operation=='jodo':
    print('the sum is ' , a+b)

elif operation=='ghatao':
    print('sub  is ' , a-b)

elif operation=='guna':
    print("mil is " , a*b)

elif operation=='bhaga':
    print("dividion is " ,a/b)

else:
    print(" not a valid operator ")

enter f no -  5
enter s no --  6
what to do ?  jodo

the sum is  11

In [ ]:
# menu driven atm banan homework

 # Modules in python 
 1. math
 2. keyword
 3. random
 4. datetime

In [ ]:
# module is a pre build python file which we can import and uyse 
#  It has many fnsd already written that we can use .

In [155]:
# Math
import math
math.factorial(5)

120

In [156]:
math.floor(6.8)

6

In [157]:
math.sqrt(225)

15.0

In [158]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [169]:
# Random
import random
print(random.randint(0,100))

41

In [170]:
# datetime
import datetime
print(datetime.datetime.now())    # time rn

2024-06-09 15:49:08.246434

In [174]:
help('modules')

Please wait a moment while I gather a list of all available modules...

6c7190bc8b55ffe67f57__mypyc compileall          mdit_py_plugins     smtpd
IPython             concurrent          mdurl               smtplib
OpenSSL             conda               menuinst            snappy
PIL                 conda_build         mimetypes           sndhdr
PyQt5               conda_content_trust mistune             sniffio
__future__          conda_env           mkl                 snowballstemmer
__hello__           conda_index         mkl_fft             socket
__phello__          conda_libmamba_solver mmap                socketserver
_abc                conda_pack          mmapfile            socks
_aix_support        conda_package_handling mmsystem            sockshandler
_argon2_cffi_bindings conda_package_streaming modulefinder        sortedcontainers
_ast                conda_token         more_itertools      soupsieve
_asyncio            conda_verify        mpmath              sphinx
_bisect             conf                msgpack             sphinxify
_black_version      configparser        msilib              sphinxthread
_blake2             constantly          msvcrt              spyder
_bootsubprocess     contextlib          multidict           spyder_kernels
_brotli             contextvars         multipledispatch    sqlalchemy
_bz2                contourpy           multiprocessing     sqlite3
_cffi_backend       cookiecutter        munkres             sre_compile
_codecs             copy                mypy                sre_constants
_codecs_cn          copyreg             mypy_extensions     sre_parse
_codecs_hk          cpuinfo             mypyc               ssl
_codecs_iso2022     crypt               nacl                sspi
_codecs_jp          cryptography        navigator_updater   sspicon
_codecs_kr          cssselect           nbclient            stack_data
_codecs_tw          csv                 nbconvert           stat
_collections        ctypes              nbformat            statistics
_collections_abc    curl                nest_asyncio        statsmodels
_compat_pickle      curses              netbios             streamlit
_compression        cwp                 netrc               string
_contextvars        cycler              networkx            stringprep
_csv                cytoolz             nltk                struct
_ctypes             dask                nntplib             subprocess
_ctypes_test        dataclasses         notebook            sunau
_datetime           datashader          notebook_shim       sympy
_decimal            datetime            nt                  symtable
_distutils_hack     dateutil            ntpath              sys
_elementtree        dbi                 ntsecuritycon       sysconfig
_functools          dbm                 nturl2path          tables
_hashlib            dde                 numba               tabnanny
_heapq              debugpy             numbergen           tabulate
_imp                decimal             numbers             tarfile
_io                 decorator           numexpr             tblib
_json               defusedxml          numpy               telnetlib
_locale             diff_match_patch    numpydoc            tempfile
_lsprof             difflib             odbc                tenacity
_lzma               dill                opcode              terminado
_markupbase         dis                 openpyxl            test
_md5                distributed         operator            test_pycosat
_msi                distro              optparse            text_unidecode
_multibytecodec     distutils           os                  textdistance
_multiprocessing    docstring_to_markdown overrides           textwrap
_nsis               doctest             packaging           this
_opcode             docutils            pandas              threading
_operator           dotenv              pandocfilters       threadpoolctl
_osx_support        email               panel               three_merge
_overlapped         encodings           param               tifffile
_pickle             ensurepip           paramiko            time
_plotly_future_     entrypoints         parsel              timeit
_plotly_utils       enum                parso               timer
_py_abc             erfa                partd               tinycss2
_pydecimal          errno               past                tkinter
_pyio               et_xmlfile          pathlib             tldextract
_pytest             executing           pathspec            tlz
_queue              fastjsonschema      patsy               token
_random             faulthandler        pdb                 tokenize
_sha1               filecmp             perfmon             toml
_sha256             fileinput           pexpect             tomlkit
_sha3               filelock            pickle              tomllib
_sha512             flake8              pickleshare         toolz
_signal             flask               pickletools         tornado
_sitebuiltins       fnmatch             pip                 tqdm
_socket             fontTools           pipes               trace
_sqlite3            fractions           pkce                traceback
_sre                frozenlist          pkg_resources       tracemalloc
_ssl                fsspec              pkginfo             traitlets
_stat               ftplib              pkgutil             truststore
_statistics         functools           platform            tty
_string             future              platformdirs        turtle
_strptime           gc                  plistlib            turtledemo
_struct             genericpath         plotly              twisted
_symtable           gensim              pluggy              types
_system_path        getopt              ply                 typing
_testbuffer         getpass             poplib              typing_extensions
_testcapi           gettext             posixpath           tzdata
_testconsole        git                 pprint              tzlocal
_testimportmultiple gitdb               profile             uc_micro
_testinternalcapi   glob                prometheus_client   ujson
_testmultiphase     gmpy2               prompt_toolkit      unicodedata
_thread             graphlib            protego             unidecode
_threading_local    greenlet            pstats              unittest
_tkinter            gzip                psutil              urllib
_tokenize           h5py                pty                 urllib3
_tracemalloc        hashlib             ptyprocess          uu
_typing             heapdict            pure_eval           uuid
_uuid               heapq               py                  validators
_warnings           hmac                py_compile          venv
_weakref            holoviews           pyarrow             w3lib
_weakrefset         html                pyasn1              warnings
_win32sysloader     http                pyasn1_modules      watchdog
_winapi             hvplot              pyclbr              wave
_winxptheme         hyperlink           pycodestyle         wcwidth
_xxsubinterpreters  idlelib             pycosat             weakref
_yaml               idna                pycparser           webbrowser
_zoneinfo           imagecodecs         pyct                webencodings
abc                 imageio             pycurl              websocket
adodbapi            imagesize           pydantic            werkzeug
afxres              imaplib             pydeck              whatthepatch
aifc                imblearn            pydispatch          wheel
aiobotocore         imghdr              pydoc               widgetsnbextension
aiohttp             imp                 pydoc_data          win2kras
aioitertools        importlib           pydocstyle          win32api
aiosignal           importlib_metadata  pyexpat             win32clipboard
alabaster           incremental         pyflakes            win32com
altair              inflection          pygments            win32con
anaconda_anon_usage iniconfig           pylab               win32console
anaconda_catalogs   inspect             pylint              win32cred
anaconda_cloud_auth intake              pylint_venv         win32crypt
anaconda_navigator  intervaltree        pyls_spyder         win32cryptcon
anaconda_project    io                  pylsp               win32ctypes
antigravity         ipaddress           pylsp_black         win32event
anyio               ipykernel           pylsp_jsonrpc       win32evtlog
appdirs             ipykernel_launcher  pyodbc              win32evtlogutil
archspec            ipython_genutils    pyparsing           win32file
argon2              ipywidgets          pytest              win32gui
argparse            isapi               pythoncom           win32gui_struct
array               isort               pythonjsonlogger    win32help
arrow               isympy              pytoolconfig        win32inet
ast                 itemadapter         pytz                win32inetcon
astroid             itemloaders         pyviz_comms         win32job
astropy             itertools           pywin               win32lz
asttokens           itsdangerous        pywin32_bootstrap   win32net
async_lru           jedi                pywin32_testutil    win32netcon
asynchat            jellyfish           pywintypes          win32pdh
asyncio             jinja2              pywt                win32pdhquery
asyncore            jmespath            qdarkstyle          win32pdhutil
atexit              joblib              qstylizer           win32pipe
atomicwrites        json                qtawesome           win32print
attr                json5               qtconsole           win32process
attrs               jsonpatch           qtpy                win32profile
audioop             jsonpointer         queue               win32ras
automat             jsonschema          queuelib            win32rcparser
autopep8            jsonschema_specifications quopri              win32security
babel               jupyter             random              win32service
backports           jupyter_client      rasutil             win32serviceutil
base64              jupyter_console     re                  win32timezone
bcrypt              jupyter_core        referencing         win32trace
bdb                 jupyter_events      regcheck            win32traceutil
binaryornot         jupyter_lsp         regex               win32transaction
binascii            jupyter_server      regutil             win32ts
binstar_client      jupyter_server_terminals repo_cli            win32ui
bisect              jupyterlab          reprlib             win32uiole
black               jupyterlab_plotly   requests            win32verstamp
blackd              jupyterlab_pygments requests_file       win32wnet
bleach              jupyterlab_server   requests_toolbelt   win_inet_pton
blib2to3            jupyterlab_widgets  rfc3339_validator   winerror
blinker             jwt                 rfc3986_validator   winioctlcon
bokeh               keyring             rich                winnt
boltons             keyword             rlcompleter         winperf
botocore            kiwisolver          rope                winpty
bottleneck          lazy_loader         rpds                winreg
brotli              lazy_object_proxy   rtree               winsound
bs4                 lckr_jupyterlab_variableinspector ruamel_yaml         winxpgui
builtins            lib2to3             runpy               winxptheme
bz2                 libarchive          s3fs                wrapt
cProfile            libfuturize         sched               wsgiref
cachetools          libmambapy          scipy               xarray
calendar            libpasteurize       scrapy              xdrlib
certifi             lief                seaborn             xlwings
cffi                linecache           secrets             xml
cgi                 linkify_it          select              xmlrpc
cgitb               llvmlite            selectors           xxlimited
chardet             lmdb                semver              xxlimited_35
charset_normalizer  locale              send2trash          xxsubtype
chunk               locket              service_identity    xyzservices
click               logging             servicemanager      yaml
cloudpickle         lxml                setuptools          yapf
clyent              lz4                 shelve              yapftests
cmath               lzma                shlex               yarl
cmd                 mailbox             shutil              zict
code                mailcap             signal              zipapp
codecs              markdown            sipbuild            zipfile
codeop              markdown_it         site                zipimport
collections         markupsafe          six                 zipp
colorama            marshal             skimage             zlib
colorcet            math                sklearn             zmq
colorsys            matplotlib          slugify             zoneinfo
comm                matplotlib_inline   smart_open          zope
commctrl            mccabe              smmap               zstandard

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

# Loops in Python
1. Need for loops
2. While loop
3. for loop

In [ ]:
# uses 
# used like in flipkart they have made one container only and those run on loops and display different thngs

In [ ]:
# 1. While loop example - program to print a table 
# program - sum of all the digits of given no 
# program - keep accepting numbers from users till he/dhe enters a 0 then find avg

In [3]:
num = int(input("Enter the number - "))

i=1
while i<11:
    print(num*i)
    i = i+1

Enter the number -  10

10
20
30
40
50
60
70
80
90
100

In [6]:
num = int(input("Enter the number - "))

i=1
while i<11:
    print(num,'*',i,'=',num*i)
    i = i+1

Enter the number -  19

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [7]:
# While loop with else 
x=1

while x<8:
    print(x)
    x=x+1

else:
    print("limit exceed")

1
2
3
4
5
6
7
limit exceed

In [22]:
# Not a right answer 
num=int(input("Enter the number = "))
sum=1
while num!=0:
   
    num=int(input("Enter another number - "))
    sum=sum+num
    print(sum-1)

print(sum+num)

Enter the number =  5
Enter another number -  6

6

Enter another number -  7

13

Enter another number -  4

17

Enter another number -  0

17
18

In [25]:
# not a right answer try 2
num=int(input("Enter the number = "))
fnum=num
sum=1
while num!=0:
   
    num=int(input("Enter another number - "))
    sum=sum+num
    print(sum-1)

print(fnum+sum-1)

Enter the number =  4
Enter another number -  5

5

Enter another number -  6

11

Enter another number -  7

18

Enter another number -  8

26

Enter another number -  0

26
30

In [5]:
#try 3 not a rright answer
n=int(input("enter no - "))
a="2"
num=b

while b==n:
    print('a'+'2')

enter no -  5

In [11]:
# Q2 try 1 not a right and 
n=int(input("enter n -"))
a="2"
for i in range(0,n):
    sum=a+"2"
    print(sum)

enter n - 5

22
22
22
22
22

In [19]:
# to print a series 2,22,222,2222.... upto n and n is taken by user . 
j=int(input('enter no ='))
for i in range (0,j,1):
     print('2'*i ,end=',')

enter no = 5

,2,22,222,2222,

In [49]:
# Write a program to take input by user u
i=num=int(input("enter no-"))

sum=0
while  i!=0:
     i=int(input("enter another no - "))
     sum=sum+i
        
        
print("sum of nos is ",sum+num)

enter no- 4
enter another no -  5
enter another no -  6
enter another no -  0

sum of nos is  15

In [32]:
i=int(input("enter no-"))
i=num
sum=0
while i>1:
    if i!=0:
        i=int(input("enter another no - "))
        sum=sum+i
        print(sum)

enter no- 8

In [19]:
# Guessing game
import random 
jackpot=random.randint(0,100)

guess= int(input("Guess number- "))

counts=1
while guess!=jackpot :
    if guess>jackpot:
        print("Guess lower")
    else :
        guess<jackpot
        print("Guess heigher")
    guess=int(input(" guess gain "))   
    counts=counts+1
else:
    print("Correct yehh , You won jackpot")
    print("No of attemps= ",counts)

Guess number-  45

Guess heigher

 guess gain  55

Guess heigher

 guess gain  89

Guess lower

 guess gain  70

Guess heigher

 guess gain  80

Guess heigher

 guess gain  85

Guess lower

 guess gain  82

Guess heigher

 guess gain  83

Guess heigher

 guess gain  84

Correct yehh , You won jackpot
No of attemps=  9

In [ ]:
import random 
jackpot=random.randint(0,100)

guess= int(input("Guess number- "))

counts=1
while guess!=jackpot :
    if guess>jackpot:
        print("Guess lower")
      
       
    else :
        #guess<jackpot
        print("Guess heigher")
       
    guess=int(input(" guess gain "))   
   # counts=counts+1
#else:
 #   print("Correct yehh , You won jackpot")
  #  print("No of attemps= ",counts)

Guess number-  5

Guess heigher

 guess gain  7

Guess heigher

 guess gain  5

Guess heigher

 guess gain  3

Guess heigher

 guess gain  87

Guess lower

#### For loop

In [22]:
for i in range(1,11):  # range ek fun hai range(1,11) menas 1,2,3,4,5,6,7,8,9,10  # last digit is not ncluded as always 
   print(i)

1
2
3
4
5
6
7
8
9
10

In [23]:
# step size 
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [24]:
# ulti print
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [25]:
for i in 'Harshit':
    print(i)

H
a
r
s
h
i
t

In [26]:
for i in [2,3,4,5,6]:
    print(i)

2
3
4
5
6

 Q). The current population of a town is 10000. The population of town is increasing at the rate of 10 [percent per year . We need to wwrite a programe to find out the population at the end of all 10 years.

In [1]:
# wrong code 
curr_po=10000

for i in range(10,0,-1):
    print(i,curr_po)
    curr_po=curr_po-0.1*curr_po

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489

## Lec 3

In [1]:
# same privious ques
# har saal10 percent se kam nhi ho rha , har saal 10 percent se badh rha 
# so agar 9 year ka pop x tha toh x plus 10 percent of x should be equal to 10000  that is population of 10th year 
#  X + 0.1X = 100000
# 1.1 X =10000
# X =10000/1.1
# Means piche year ka pop = Current year ka pop / 1.1

curr_pop=10000

for i in range(10,0,-1):
    print(i,curr_pop)
    curr_pop=curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

## Sequence calculaton

In [3]:
# 1+2+3+4+5+6.....n

n=int(input("Enter value of n- "))

result=0
for i in range(1,n+1):
    result = result + 1
    print(result)

Enter value of n-  10

1
2
3
4
5
6
7
8
9
10

## Print the sum of 1/1! +2/2! +3/3!... and so on upto n taken by user

In [2]:
n=int(input("Enter value of n- "))
fact = 1
sum = 0

for i in range(1,n+1):    # not 0 bcs cant be divided by 0
    fact=fact*i
    sum=sum+i/fact
print(sum)

Enter value of n-  5

2.708333333333333

# Nested loop

print
*
**
***
****

In [7]:
n=int(input("enter no of rows - "))


for i in range(1,n+1):
    for j in range(1,i+1):
        print("*" , end=" ")
    print()

enter no of rows -  5

*
* *
* * *
* * * *
* * * * *

print
1
121
12321
1234321

In [16]:
rows=int(input("enter no of rows= "))

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    for k in range(j-1,0,-1):
        print(k,end=" " )
        
    print()

enter no of rows=  4

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

## Loop control  statement 
## 1. Break
## 2. Continue
## 3. Pass

In [20]:
# Break - jahan pe loop ko break karna ho like
n=int(input("enter n- "))

for i in range(0,n+1):
    if i==5:
        break
    print(i)

enter n-  8

0
1
2
3
4

 write a program to print all the prime  bw the lower limit and upper limit taken by user.

In [26]:
low=int(input("enter lower limit= "))
upp= int(input("enter upper limit= "))

for i in range(low,upp+1):
    for j in range(2,i):
        if i%j==0:
            break

    else:
          print(i)

enter lower limit=  1
enter upper limit=  100

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Continue means to skip

In [27]:
for i in range(1,10):
    if i==6:
        continue
    print(i)

1
2
3
4
5
7
8
9

Pass

In [28]:
# It will not show erroe in code which is not used at tha ttime 
for i in range(1,100):
    pass

# Strings

In [32]:
str="'its' raining outside"
print(str)

'its' raining outside

In [37]:
# SLICING
s="hello world"
print(s[0])
print(s[0:5])
print(s[5: ])
print(s[ :5])
print(s[0:5:2])  # 2 ka jump 
print(s[: :-1])  # ulta print karega 
print(s[-5: ])   # negative dirn

h
hello
 world
hello
hlo
dlrow olleh
world

In [ ]:
# EDITING 
str="hello world"
# python strings are immutabele 
# ek baar banane ke baad change nh kiya jaa skata hai

In [ ]:
# deleting 
s="hello world"
del s
# del can be used to dlt wholw string

Operations on strings -->
aritrhmatic opereations 
realtional operators 
logical operators 
loops in strin g 
membership operatiuons

In [38]:
# airthmartic operators 
print("Harshit" + " " + "Good")

Harshit Good

In [41]:
print("jai shree ram , "*5)

jai shree ram , jai shree ram , jai shree ram , jai shree ram , jai shree ram ,

In [42]:
# realational operator
'delhi'=='bihar'

False

In [43]:
"Mumbai">"Pune"   #  it doesnot compare by no of char in trhe word , it compares with the help of ascai values .

False

In [44]:
"pune">"pune"   # smaller alphabet has amller ascai values

False

Agar string meein ko bhi characters hain wop wo true value dega aur agar wo string khali hai toh false dega

In [14]:
# example
"harshit"==1      # int is not equal to string

False

In [1]:
"Harshit"!=1        # int is equal to string

True

In [16]:
" "==0

False

In [49]:
"harshit" and "mohit"   # mohit issliye print hua kyoki harshit is true so and kek aaran wo next check karne gya so mohit is 
# is also true so usne last wal;a print kar diya .*

'mohit'

In [48]:
"harshit" or "mohit"   # harshit issliye print hua kyoki first wala harshit is a true vcalue so harshity is print h ogya 
# no need to check doosra

'harshit'

loops in string

In [50]:
for i in 'harshit':
    print(i)

h
a
r
s
h
i
t

In [51]:
for i in "harshit":
    print("mohit")     # unique ques

mohit
mohit
mohit
mohit
mohit
mohit
mohit

In [52]:
'H' in "Harshit"

True

In [53]:
"H" not in "Harshit"

False

# String funs

common funs jo har data types pe kaqam karte

In [54]:
len("hello world")

11

In [55]:
max("hello world")

'w'

In [56]:
min("hello world")

' '

In [57]:
sorted("harshit is a good boy")

[' ',
 ' ',
 ' ',
 ' ',
 'a',
 'a',
 'b',
 'd',
 'g',
 'h',
 'h',
 'i',
 'i',
 'o',
 'o',
 'o',
 'r',
 's',
 's',
 't',
 'y']

Only for string type datatyte

In [27]:
s="hello world"
s.capitalize()    # pehla letter ko capital karega

'Hello world'

In [41]:
s.title()         # har word ke first letter ko capital kar dega

'Hello World'

In [28]:
s.upper()     # saare ke saare letter ko capital kar dega

'HELLO WORLD'

In [43]:
print(s.lower())    # sab ke sabko lower kar dega 
print(s)       # strings are immutabel , nye string bnna ke usme change kiya jaa rha original kabhi chnage nhi ho sakta

hello world
HeLLo WoRld

In [30]:
s="HeLLo WoRld"
s.swapcase()            # ulta pulta

'hEllO wOrLD'

In [31]:
"my name is harshit".count('i')

2

In [32]:
"my name is harshit".find('is')

8

In [33]:
"my name is harshit".find('diwali')

-1

In [34]:
"my name is harshit".index('is')

8

In [ ]:
"my name is harshit".index('diwali')     # will throw error

In [35]:
"harshit".endswith('it')

True

In [36]:
"harshit".startswith('ha')

True

Format

In [39]:
name="Harshit"
Gender="Male"
"Hie my name is {} and my gender is {}".format(name,Gender)

'Hie my name is Harshit and my gender is Male'

In [40]:
name="Harshit"
Gender="Male"
"Hie my name is {1} and my gender is {0}".format(name,Gender)    # imp

'Hie my name is Male and my gender is Harshit'

In [44]:
# alnum
"harshit01".isalnum()

True

In [45]:
"harhsit".isalpha()

True

In [46]:
"1720".isdigit()

True

In [47]:
"1name".isidentifier()

False

In [48]:
"harshit12".isidentifier()

True

## Split

In [49]:
"my name is harshit kumar".split()

['my', 'name', 'is', 'harshit', 'kumar']

In [51]:
"my name is harshit kumar".split('a')   # jahan jahan a aayega wohan se split kar dega

['my n', 'me is h', 'rshit kum', 'r']

In [52]:
"i am you am not am good am boy".split("am")

['i ', ' you ', ' not ', ' good ', ' boy']

## JOIN

In [53]:
" ".join(['my', 'name', 'is', 'harshit', 'kumar'])

'my name is harshit kumar'

In [54]:
",".join(['my', 'name', 'is', 'harshit', 'kumar'])

'my,name,is,harshit,kumar'

## Replace

In [55]:
"my namse is harshit".replace("my","his")

'his namse is harshit'

## sTRIP

In [56]:
"Harshit               ".strip()       #Spaces ko hatata hai

'Harshit'

In [57]:
"Harshit     is    not a   good boy    ".strip()

'Harshit     is    not a   good boy'

# Practice

In [67]:
n="harshit"
print(n[4:8])

hit

In [85]:
n="hello World"

for char in n:
    if char=="hello W":
        pass
        print(char)

In [ ]:
n=4
i=0
while n<=4:
    num=int("1"*n)
    n=i+1
    print(num**2)

In [18]:
str="cat"


for char in str:
    
    
    print(char)

h
a
r
s
h
i
t

In [25]:
N=int(input("enter a no"))
fact=1
tot=0
for i in range(1,N,1):
    fact=i*fact
    a=i/fact
    tot=tot+a
    
print(tot)

enter a no 4

2.5

# eXERCISE

Q1 Find the length of a given string without using len() fun

In [63]:
str=input("Enter the word- ")
counter=0
for i in str:
    counter +=1

print("length of str= ",counter)

Enter the word-  harshit

length of str=  7

Q2 Extract user name from a given mail
Example- harshit22@gmail.com
username- harshit22

In [65]:
s=input("enter the mail- ")

pos=s.index("@")
print(s[ :pos])

enter the mail-  harshit@gmail.com

harshit

Count the frequency of a particular char in provided string.
example- "hello how are you" is a str , the frequency of h in this string is 2.

In [66]:
str="my name is harshit kumar"
lis=s.split("a")
len(lis)

3

In [67]:
# 2nd method 
s=input("enter a sen- ")
term=input("which term are you searching for- ")

counter=0
for i in s:
    if i==term:
        counter=counter+1

print("frequency= ",counter)

enter a sen-  my name is harshit kumar
which term are you searching for-  a

frequency=  3

Write a program whch can remove a particular char from a stg

In [75]:
s=input("enter a sen- ")
term=input("what do you want to remove- ")
result=""

for i in s:
    if i!=term:
        result=result+i

print(result)

enter a sen-  harshit
what do you want to remove-  a

hrshit

Write a program that can check whether a given str is palindrome or not .

In [85]:
str=input("enter word- ")               # will t5r54y it later 
j=len(str)

for i in range(0,j+1):
    p=print(s[i])
for k in range(0,j+1,-1):
    s=print(s[k])
    if p==s:
        print("yes")

else:
    print("no")

enter word-  harshit

h
a
r
s
h
i
t

IndexError: string index out of range

In [85]:
str=input("enter word- ")               # will t5r54y it later 
j=len(str)

for i in range(0,j+1):
    p=print(s[i])
for k in range(0,j+1,-1):
    s=print(s[k])
    if p==s:
        print("yes")

else:
    print("no")

enter word-  harshit

h
a
r
s
h
i
t

IndexError: string index out of range

In [8]:
s=input("enter the string- ")
p=len(s)

for i in range(0,p//2+1):
    if s[i]==s[p-i]:
        print("its palindrome")

enter the string-  level

IndexError: string index out of range

Write a program to count the number of words in a string without split()

In [12]:
s=input("enter the string- ")
count=1

for i in s:
    if i==" ":
        count=count+1

print("no of words- ",count)

enter the string-  harshit is very very good boy.

no of words-  6

In [11]:
#or
s=input("enter the string- ")
p=s.split()
len(p)

enter the string-  harshit is a good boy.

5

In [14]:
#or  this will count no of letters except space

s=input("enter the string- ")
count=0

for i in s:
    if i!=" ":
        count=count+1

print("no of words- ",count)

enter the string-  harshit is very very good boy.

no of words-  25

# Lists

Lists is a data type where we can stre multiple items under 1 name . More technically lists act like dynamic arrays which means you can add more items to the fly.

stores simar type of datas

Arrays vs Lists
fixed vs dynamic 
convenince(homogeneous dtype) vas heterigeneous
Array exxcute more fast than list 
array occupy less space than list

How a array stors in memory?
-> it sotes actual items 

How lists stores in memory ?
->Refferential array , we stores adress of items in that list not the items . so it takes  muchh more space as compared to array.

In [15]:
a=2
print(id(2))           # id()--> prints memory adress

140720148235080

In [16]:
lis=[1,22,"harshit"]
print(id(lis[0]))
print(id(lis[1]))
print(id(lis[2]))    # the adrees of all the items are different

140720148235048
140720148235720
2221123877936

List takes extra time and extra spaces . Dynamic array--> we make new arrays(generally 2x) ac to data and its no . 
Speed of excusion kam hota hai kyoki , array ko change karna padd rha , aur items ka location alag alag hota hai toh fun ko uske tak jaane mein time lagta hai.
Memory bhi waste hota hai as agar hamne dounle kiya aurjham usklo use nh kar paa rhe to waste hi jayega . so takes more spacew.

List ka order matter karta hai
Example 
L1=[1,2,3]
L2=[3,2,1]
so L1 and L2 are nbot the same

Lists are heterogeneous
List can have duplicate items 
Can be nested --> list ke ander ek aur llistr daal sakte hain
Items can be accesed .
Can contain any kind of objects in python.

Create a list

Aseending items from a list

In [19]:
# indexing 
l=[1,2,3,4,5]
print(l[0])  # positive indexing 
print(l[-1])  # negative indexing

1
5

In [23]:
# ind3e4xing in 2D list 
l=[1,2,3,[4,5]]
# if we want to print 4
print(l[-1][0])
#or
print(l[-1][-2])              #IMPORTANT
#or
print(l[3][-2])

4
4
4

In [27]:
lis=([[[1,2],[3,4]],[[5,6],[7,8]]])
#print 3 and 5
print(lis[0][1][-2])
print(lis[1][0][0])

3
5

In [30]:
# slicing
lis=[1,2,3,4,5]
print(lis[0:2])
print(lis[-3: ])
print(lis[ : :2])   # alternate items 
print(lis[ : :-1])  # list reverse

[1, 2]
[3, 4, 5]
[1, 3, 5]
[5, 4, 3, 2, 1]

Adding items to list

In [31]:
# append 
# ek baar main ek item kist ke last mein add kar sakt6e hain 
l=[1,2,3,4,5]
l.append("harshit")
print(l)

[1, 2, 3, 4, 5, 'harshit']

In [33]:
l=[1,2,3,4,5]
l.append([6,7,8])
print(l)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [32]:
# extend
l=[1,2,3,4,5]
l.extend([6,7,8,9,10])     3 for adding multiple items 
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
l=[1,2,3,4,5]
l.extend(["harshit"])
print(l)
l.extend("harshit")
print(l)

[1, 2, 3, 4, 5, 'harshit']
[1, 2, 3, 4, 5, 'harshit', 'h', 'a', 'r', 's', 'h', 'i', 't']

In [37]:
# insert    add on dizired location
l=[1,2,3,4,5]
# l.inser(kahan, kya )
l.insert(1,20)
print(l)

[1, 20, 2, 3, 4, 5]

Editing items in list

In [38]:
# editing from indexing
l=[1,2,3,4,5]
l[-2]=600
print(l)

[1, 2, 3, 600, 5]

In [40]:
# editing from slicing 
l=[1,2,3,4,5]
l[0:2]=["harshit","mohit","Ganesh"]
print(l)

['harshit', 'mohit', 'Ganesh', 3, 4, 5]

Deliting from a list

In [41]:
# del 
l=[1,2,3,4,5]
del(l[-1])
print(l)

[1, 2, 3, 4]

In [42]:
l=[1,2,3,4,5]
del(l[0:2])
print(l)

[3, 4, 5]

In [43]:
# remove 
# we can dly by value 
l=[1,2,3,4,5]
l.remove(4)
print(l)

[1, 2, 3, 5]

In [48]:
# pop
l=[1,2,3,4,5]
l.pop(0)
print(l)

[2, 3, 4, 5]

In [49]:
l=[1,2,3,4,5]
l.pop()
# by deafayult it will dlt the last item 
print(l)

[1, 2, 3, 4]

In [50]:
# clear   # empty list , dlt all items 
l=[1,2,3,4,5]
l.clear()
print(l)

[]

## Operators in lists

In [53]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
print(l1*3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## memebership operator

In [54]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
print(5 in l1)
print(5 not in l1)

True
False

In [60]:
l1=[1,2,3,4,[5,6]]
print(5 in l1)   # 5 in not in the list 
print([5,6] in l1)

False
True

In [61]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

for i in l1:
    print(i)

1
2
3
4
5

In [62]:
l2=[1,2,3,4,[5,6]]

for i in l2:
    print(i)

1
2
3
4
[5, 6]

In [63]:
l3=[[[1,2],[3,4]],[[4,5],[5,6]]]

for i in l3:
    print(i)

[[1, 2], [3, 4]]
[[4, 5], [5, 6]]

## List funs()

In [70]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
print(len(l1))
print(min(l1))
print(max(l1))
print(sorted(l1))
print(sorted(l1,reverse=True))

l=[1,2,3,2,4,2,6,3]
l.count(2)
l.index(2)   # ek se jyada hai to 1st batayega 
l.reverse()  # it permanenet changes the list originally , 
print(l)
l.sort()    # permanently change 
print(l)
print(id(l))
l4=l.copy()     # makes a shallow copy at diff location 
print(id(l4))

5
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[3, 6, 2, 4, 2, 3, 2, 1]
[1, 2, 2, 2, 3, 3, 4, 6]
2221138193664
2221138469120

# List comprehention

List comprehension provides a concise way of creating lists.
More time-efficient and space-efficient than loops 
Transforms iterative statement into a formula 

formula == newlist=[expression for item in iterable if con==True]

In [71]:
# normal way 
L=[]
for i in range(1,11):
    L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
# lc
L=[i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
# print[2,3,4] with -3 
# method 1
v=[2,3,4]
c=[]

for i in v:
    c.append(i*-3)

print(c)

[-6, -9, -12]

In [83]:
# lc
v=[2,3,4]
n=[i*-3 for i in v]
print(n)

[-6, -9, -12]

In [84]:
# add sqares
l=[2,3,4,5]
[i**2 for i in l]

[4, 9, 16, 25]

In [86]:
# print all no divisible by 12 bw 1 to 120   # bht shi hai 
[i for i in range(1,120) if i%12==0]

[12, 24, 36, 48, 60, 72, 84, 96, 108]

In [88]:
# find words that are stating with m in given list 
l=['mohan', 'mohit' , 'harshit' , 'ganesh', 'mahesh']

[i for i in l if i.startswith('m')]

['mohan', 'mohit', 'mahesh']

Nested if with list comprehension

In [89]:
basket=["apple","banana","papaya","pine","guava"]
new_basket=["litchi","watermelon","apple","pine"]

# create is new list in which fruits common in both will be added and fruit starts with p in basket will be added .
[i for i in basket if i in new_basket if i.startswith('p')]

['pine']

In [90]:
# printa(3*3) matrix using list comprehension-> Nested list comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [92]:
# cartesian products--> list comprehension on 2 lists together 
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
[i*j for i in l1 for j in l2]

[6,
 7,
 8,
 9,
 10,
 12,
 14,
 16,
 18,
 20,
 18,
 21,
 24,
 27,
 30,
 24,
 28,
 32,
 36,
 40,
 30,
 35,
 40,
 45,
 50]

## 2 ways to traverse a list

1. itemwise
2. indexwise

In [93]:
# itemwise
L=[1,2,3,4,5]
for i in L:
    print(i)

1
2
3
4
5

In [101]:
# indexwise
L=[1,2,3,4,5]

for i in range(0,len(L)):   # printed 0,1,2,3 atr not items those are indec positions 
    print(i)
    print(L[i])   # this will print items

0
1
1
2
2
3
3
4
4
5

# zip

The zip fun() returns are zip object , which is an iterator of tuples whwre the first item in each passes iterator is paired together and the the second item in ach passed iterator are paired togeteher .

If the passes iterator have diff lengths , the iterator with the least decides the length of the new iterator .

for example 
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
zip() inn  dono ke index 0 ko ek tuple mein daal dega , index 1 ko agla touple mein and wosie hi sab ko

In [102]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
list(zip(l1,l2))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

In [103]:
# write a program to add items of 2 lists index wise 
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

list(zip(l1,l2))
[i+j for i,j in zip(l1,l2)]                 # IMPORTANT

[7, 9, 11, 13, 15]

In [104]:
# WE CAN STORE ANYTHING IN A LIST 
l =[1,2,3,type,input,print,"harshit"]
print(l)

[1, 2, 3, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x0000020525483FD0>>, <built-in function print>, 'harshit']

Disadvanyatges of lists in python
1. slow
2. risky uses
3. eats up more storage

Practice ques

In [111]:
L=[1,2,3,4,5,6,7,8,9,10]
n=[i*3 for i in L if i%2==0]
m=[j for j in L if j%2!=0]
print(n,m)

[6, 12, 18, 24, 30] [1, 3, 5, 7, 9]

In [119]:
#i=input()
#print(list(input()))
#list(input())
#n=int(input("hello "))
m=list(input())
print(m)

 12345

['1', '2', '3', '4', '5']

In [126]:
l=[]
n=input("enter the items")

[l.append(i) for i in n]

enter the items 123456

[None, None, None, None, None, None]

In [120]:
m=[]
i=input("enter - ")
m.append(i)
print(m)

enter -  1

['1']

In [3]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
[(i+j) for i in]

NameError: name 'j' is not defined

In [140]:
L=[1,2,3,4,5,6]
L[-1]=300
print(L)




#del(L[-1])
#L.insert(-1,200)

print(L)

[1, 2, 3, 4, 5, 300]
[1, 2, 3, 4, 200, 5]

In [21]:
# writye and a priogram to converty 22D list into 1D
lst=[1,2,[3,4]]
m=[]

for j in lst[0:2]:
    m.append(j)
for i in lst[2]:
        m.append(i)
    
print(m)

[1, 2, 3, 4]

In [18]:
l=[1,2,[3,4]]
n=len(l)

for i in range(0,n):
    for j in range(i):
        if j!=0:
            del l[i]

print(l)

[1, 2]

In [42]:
f=('appke','wdedqw')
f=f+('cfewr',)
print(f)

('appke', 'wdedqw', 'cfewr')

In [46]:
f=('appke','wdedqw','ewdq')
*a,b=f
print(a,b)

['appke', 'wdedqw'] ewdq

In [60]:
# write a program to remove duplicate items from a list.
L=[1,2,1,2,3,4,5,3,4]
m=set(L)
print(m)
l=list(m)
print(l)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [65]:
L=[1,2,3,4,1,2,4]
j=set(L)

[i for i in L if i not in L]

[]

In [82]:
l=[1,2,3,4,5,1,2,34,]

for i in l:
    for j in range(2,len(l)):
        
        if i!=j*i:
            print(i)

1
1
1
1
1
1
2
2
2
2
2
2
3
3
3
3
3
3
4
4
4
4
4
4
5
5
5
5
5
5
1
1
1
1
1
1
2
2
2
2
2
2
34
34
34
34
34
34

# Tuples , Sets , Dictionary

Tuples 
Tuples are immutable , we can not change elemnts in a tuple , ones it is assined whereas we can change items in a list.
Charaacterstics
1. Ordered
2. Unchangable
3. Allows duplicate

Creating a tuple

In [105]:
t1=()
print(t1)

()

In [106]:
# crating a single item tuple
t1=("hello",)
print(t)

('hello',)

# SETS

# Dictionary

Unordered
Dictionary mein keys aue values hote hain 
Dictionary mein keys umnutable hi bna sakte 
like string ya tuple kop hi key bna ke usme values store kar sakte .

In [86]:
# empty dictionary
d={}
d1={'name':'harshit','gender':'male'}  # 1D dictionary
# 2D dictionary -->JSON
s={
    'name':'harshit',
    'clg':'iiser',
    'sem':5,
    'sub':{
        'bio':40,
        'che':78,
        'maths':90
    }
}
s
d4= dict([(1,1),("name","ramesh "),(4,5)])
d4

d5={"name":"harshit","name":"hehehee"}  # sirf last wala vales lenmge

{1: 1, 'name': 'ramesh ', 4: 5}

Acessing items

In [92]:
dic={'name':'harshit','age':20,'sub':'data'}
print(dic['age'])
print(dic.get('age'))

20
20

In [100]:
# from 2D
s={
    'name':'harshit',
    'clg':'iiser',
    'sem':5,
    'sub':{
        'bio':40,
        'che':78,
        'maths':90
    }
}
# if we want to fetch marks of che 
s['sub']['che']

78

Adding a new pair

In [94]:
dic['gender']='male'
dic

{'name': 'harshit', 'age': 20, 'sub': 'data', 'gender': 'male'}

In [101]:
# if we want to add new sub
s['sub']['ds']=75
s

{'name': 'harshit',
 'clg': 'iiser',
 'sem': 5,
 'sub': {'bio': 40, 'che': 78, 'maths': 90, 'ds': 75}}

Remove a kay pair

In [102]:
d={'name': 'harshit', 'age': 20, 'sub': 'data', 'gender': 'male'}
d.pop('age')
d
d.popitem()   # last wale ko dlt kar deta hai 
d
del d['name']
d
d.clear()
d
# dl maths sub
del s['sub']['maths']
s

{'name': 'harshit',
 'clg': 'iiser',
 'sem': 5,
 'sub': {'bio': 40, 'che': 78, 'ds': 75}}

Editing a key value

In [103]:
s['sem']=56
s

{'name': 'harshit',
 'clg': 'iiser',
 'sem': 56,
 'sub': {'bio': 40, 'che': 78, 'ds': 75}}

In [104]:
s['sub']['maths']=37
s

{'name': 'harshit',
 'clg': 'iiser',
 'sem': 56,
 'sub': {'bio': 40, 'che': 78, 'ds': 75, 'maths': 37}}

dectionary operations

In [107]:
print(s)
'harshit' in s  # bc harshit is not a key 
'age' in s
'sem' in s

{'name': 'harshit', 'clg': 'iiser', 'sem': 56, 'sub': {'bio': 40, 'che': 78, 'ds': 75, 'maths': 37}}

True

In [109]:
d={'name': 'harshit', 'clg': 'iiser', 'sem': 56}

for i in d:
    print(i,d[i])

name harshit
clg iiser
sem 56

Dictionary Functions

In [110]:
len(d)

3

In [112]:
sorted(d)   # sorted ka output hamesha list hoga 
# agar reverse karna ho toh 
sorted(d,reverse=True)

['sem', 'name', 'clg']

In [113]:
min(d)  # on basis of asci 
max(d)

'clg'

In [115]:
# items 
print(d.items())  # output in form of tuples
print(d.keys())
print(d.values())

dict_items([('name', 'harshit'), ('clg', 'iiser'), ('sem', 56)])
dict_keys(['name', 'clg', 'sem'])
dict_values(['harshit', 'iiser', 56])

In [116]:
# update 
d1={'asad':'trbg','br':'sa',5:4}
d2={'br':"hehe",9:3}
d1.update(d2)
print(d1)

{'asad': 'trbg', 'br': 'hehe', 5: 4, 9: 3}

## Dictionary Comprehension

{key:value for vars in iterable}

In [120]:
# create a dict containing !st 10 numbers and their squares in 
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [124]:
# using existing dist 
dis={'delhi':4000,'pune':9899,'pata':100}
print(dis.items())

{key:value*0.6 for (key,value) in dis.items()}

dict_items([('delhi', 4000), ('pune', 9899), ('pata', 100)])

{'delhi': 2400.0, 'pune': 5939.4, 'pata': 60.0}

In [127]:
dd={'bio': 40, 'che': 78, 'ds': 75, 'maths': 37}
{key:value+20 for(key,value) in dd.items()}

{'bio': 60, 'che': 98, 'ds': 95, 'maths': 57}

In [128]:
# using zip
days=['mon','tue','wed','thu','fri','sat']
temp=[23,43,45,67,54,33]
{i:j for [i,j] in (days,temp)}

ValueError: too many values to unpack (expected 2)

Practice questions

In [132]:
student={[1,2,3,4]:'harshit','gender':'male'}
student["roll_number"]=56
student

TypeError: unhashable type: 'list'

In [134]:
student={(1,2,3,4):'harshit','gender':'male'}
student

{(1, 2, 3, 4): 'harshit', 'gender': 'male'}

In [171]:
def repeat(str,substring):
    count=0
    for i in str:
        if i==substring:
            count=count+1
            
    return "no of A is",count

In [172]:
repeat("ANJAJA",'A')

('no of A is', 3)

In [33]:
def total(first,sec):
    sum=0
    
    for i in first:
        print(i)
       
    for j in sec:
             
       p=first[i]*sec[j]
       sum=sum+p
    return sum

In [52]:
def total(first,sec):
    sum=0
    [first[i]*sec[j] for i,j in (first,sec)]

In [53]:
total(first={'banana':0,'apple':5,'papaya':2},sec={'banana':0,'apple':4,'papaya':8})

ValueError: too many values to unpack (expected 2)

In [12]:
dic1={'banana':4,'apple':5,'papaya':9}
dic2={'banana':23,'apple':34,'papaya':78}

p=dic1.values()
q=dic2.values()
print(p,q)

dict_values([4, 5, 9]) dict_values([23, 34, 78])
dict_values([4, 5, 9])
dict_values([4, 5, 9])
dict_values([4, 5, 9])

In [59]:
l=['name','gender','hehe']
d={}
dict(l)

ValueError: dictionary update sequence element #0 has length 4; 2 is required

# Functions in python

Biltin fun -> print() , count() , type() , etc
User Built Function

def is_even(input):
       """ doc string , manual"""
      What to do 
      return()
      is something(calling)

In [31]:
# creating a function
# create a fun that can return a user input as odd or even
def is_even(num):                   # num is parameter
    """
    This fun return if a given no is odd or even 
    input-any integer
    output-odd/even
    created by-harshit
    """
    if type(num)==int:
        
     if num%2==0:
         return 'even'
     else:
         return 'odd'
    else:
        print("hehe this data type  is not allowed")

In [21]:
# now we need to call that fun 
# syn--> function name(input)
# We have to define that only int is allowed
for i  in range(0,11):
    x=is_even(i)
    print(x)

even
odd
even
odd
even
odd
even
odd
even
odd
even

In [32]:
is_even("hello")

hehe this data type  is not allowed

Types of arguments
1. Defult Argument
2. Positional Argument
3. Keyword argument

In [35]:
def harshit(num):
    return num**2

In [36]:
harshit(12)

144

In [41]:
# Default argument
"""value of parameter ia called argument.
here we have provided 1,1 as default argument of paramenter a and b 
"""
def power(a=1,b=1):
    return a**b

In [40]:
print(power(2))
print(power(2,2))

2
4